# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebase/
.firebaserc
firebase.json

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
*.xcworkspace
!ios/AURA.xcworkspace
# Firebase config files (sensitive)
ios/AURA/GoogleService-Info.plist

# Android
android/app/build/
android/.gradle/
